/* app css stylesheet */

html  {
  padding: 10px;
}
body {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-right: 50px;
  margin-left: 50px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
.lists {
  margin-bottom: 40px;
  margin-right: 50px;
  margin-left: 50px;
}
.lists .rows{
  margin-bottom: 40px;
}
.no-padding {
    padding: 0;
}

.lists .card-block {
  position: relative;
}

.lists .card-block .btn {
  position: absolute;
  float: right;
  bottom: 10px;
}
.pull-right {
  float: right;
}

.myitem {
  padding: 10px;
  border-bottom: 1px dotted #ddd;
}
.mytime .bottom {
  bottom: 0;
}

.side-corner-tag{
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 1;
  color: #eee;
  font-size: 1em;
  cursor: pointer;
  width: 0.5em;
  line-height: 0.5em;
  -webkit-transition: line-height 0.5s;
  transition: line-height 0.5s;
}
.side-corner-tag:after {
  content: "";
  font-size: 0.5em;
  position: absolute;
  height: 0.6em;
  border: 1.5em solid #F44336;
  z-index: -1;
  top: -1em;
  border-top-width: 1.5em;
  border-bottom-color: transparent;
  right: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.side-corner-tag:before {
  content: "";
  font-size: 0.5em;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #B71C1C transparent;
  top: -1em;
  right: 3em;
  border-width: 0 0 1em 0.7em;
  z-index: -1;
}
.side-corner-tag:hover:after{
  border: 1.5em solid #EF5350;
  border-bottom-color: transparent;
  height: 0.8em;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.side-corner-tag:hover{
  line-height: 0.45em;
  color: #333;
  -webkit-transition: line-height 0.5s;
  transition: line-height 0.5s;
}

highchart {
  display: block;
  width: 100%;
  max-width: 100%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.fancymodal-content {
  width: 90%!important;
}

/***************************************/
/*Comments                             */
/***************************************/

.card ol, ul {
  list-style: none; 
}

.card {
  background-color: #eee;
}

.ion-comment {
  font-size: 15px;
  padding: 4px 0px;
  overflow: visible;
  white-space: normal;
  border: none;
  width: 100%;
}
.ion-comment .item-options .button {
  background-color: #e0e0e0;
}
.ion-comment--text p {
  overflow: visible;
  white-space: normal;
}
.ion-comment .item-content,
.ion-comment .item-content p {
  padding: 0;
  overflow: visible;
  white-space: normal;
  font-size: 14px;
  color: #111;
}
.ion-comment--author {
  color: #111;
}
.ion-comment--author img {
  float: left;
  overflow: hidden;
}
img.round-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.ion-comment--op {
  color: #8899a6;
}
.ion-comment--replies {
  color: #8899a6;
  padding: 10px 0px;
}
.ion-comment--replies .tb {
  text-align: right;
}
.ion-comment--replies .ti {
  text-align: left;
}
.ion-comment--score {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  color: #8899a6;
}
.reputation {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding: 0 3px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #f8f8f8;
  border-radius: 50%;
  border: 1px solid #dadada;
  color: #000!important;
}


